body {
	background: #000000;
}

.slds-grid_frame,
.slds-grid--frame {
	min-width: 100%;
}

.slds-grid_vertical {
	position: relative;
	top: 62%;
}

.slds-page-header {
	background: #353854;
}

.slds-text-heading--label {
	color: white;
	font-size: 1.2rem;
}

.slds-gutters {
	margin: 0px;
}

.slds-gutters .slds-col {
	padding: 0px;
}

.slds-grid {
	width: 100%;
}

.home-icon {
	padding-bottom: 5px;
	float: left;
}

.slds-grid--frame {
	width: 100%;
	height: 100%;
}

.data-width {
	width: 100%;
}

#col1 {
	background-image: url("../images/chicago.jpg");
	background-size: 100% 60%;
	background-repeat: no-repeat;
	margin: 15px;
	width: 0%;
}

#col2 {
	background-image: url("../images/milwaukee.jpg");
	background-size: 100% 60%;
	background-repeat: no-repeat;
	margin: 15px;
	width: 0%;
}

#col3 {
	background-image: url("../images/dallas.jpg");
	background-size: 100% 60%;
	background-repeat: no-repeat;
	margin: 15px;
	width: 0%;
}

#col4 {
	background-image: url("../images/minneapolis.jpg");
	background-size: 100% 60%;
	background-repeat: no-repeat;
	margin: 15px;
	width: 0%
}

.city-data {
	font-family: "Salesforce Sans", monospace, sans-serif;
	font-size: 16px;
	color: white;
	vertical-align: middle;
	line-height: 50px;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
}

.city-blk {
	background-color: #3c8ed2;
	border: 1px solid black;
}

footer {
	background: #353854;
	border-top: 0.5px solid #ffffff;
}

footer p {
	color: white;
	font-size: 18px;
	font-family: "Salesforce Sans", Arial, sans-serif;
	text-transform: uppercase;
}

@media (max-width: 700px) {
	.city-data {
		font-size: 10px;
	}
}

@media (max-width: 900px) {
	.slds-grid_vertical,
	.slds-grid--vertical {
		flex-direction: unset;
	}
	#main-container {
		flex-direction: column;
	}
	#col1 {
		background-image: url("../images/chicago_mobile.png");
		background-size: 100% 60%;
		width: 100%;
	}
	#col2 {
		background-image: url("../images/milwaukee_mobile.png");
		background-size: 100% 60%;
		width: 100%;
	}
	#col3 {
		background-image: url("../images/dallas_mobile.png");
		background-size: 100% 60%;
		width: 100%;
	}
	#col4 {
		background-image: url("../images/minneapolis_mobile.png");
		background-size: 100% 60%;
		width: 100%;
	}
	.city-blk-mobile {
		position: relative;
		top: 66px;
		border: 1px solid black;
	}
}